<div class="container">
    <img src="./img/Life Logo-01.png" alt="" style="width: 65px;position: absolute;left: 20px;top: 20px">
    <div class="wrapper text-center" style="margin-top: 60px">
        <h2 style="font-weight: bold;">Premium</h2>
    </div>
    <div class="ui-card form-check" style="max-width: 400px">
        <!--<div class="ui-card-body">-->
            <!--<div class="ui-card-list-item">-->
                <!--<div style="display: flex;flex: 1">-->
                    <!--<input-->
                        <!--class="form-check-input" type="radio" name="exampleRadios"-->
                        <!--id="premium1" value="premium1" checked-->
                        <!--ng-model="payment.selectedPremium" ng-change="" style="margin-right: 15px">-->
                    <!--<div>-->
                        <!--<label class="form-check-label" for="premium1" style="display: block" ng-class="{'txt-primary': payment.selectedPremium == 'premium1'}">-->
                            <!--<b>{{payment.currency}} 500.00</b>-->
                        <!--</label>-->
                        <!--<small style="display: block">Section 1</small>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<span style="display: block"><b>{{payment.currency}} 500.00</b></span>-->
                    <!--<small style="display: block">Section 1</small>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="ui-card-list-item">-->
                <!--<div style="display: flex;flex: 1">-->
                    <!--<input-->
                        <!--class="form-check-input" type="radio" name="exampleRadios"-->
                        <!--id="premium2" value="premium2"-->
                        <!--ng-model="payment.selectedPremium" ng-change="" style="margin-right: 15px">-->
                    <!--<div>-->
                        <!--<label class="form-check-label" for="premium2" style="display: block" ng-class="{'txt-primary': payment.selectedPremium == 'premium2'}">-->
                            <!--<b>{{payment.currency}} 500.00</b>-->
                        <!--</label>-->
                        <!--<small style="display: block">Section 1</small>-->
                    <!--</div>-->
                    <!--<small style="text-decoration: line-through;line-height: 25px;margin-left: 5px">{{payment.currency}} 1212.00</small>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<span class="txt-primary" style="display: block"><b>{{payment.currency}} 500.00</b></span>-->
                    <!--<small style="display: block">Save</small>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="ui-card-list-item">-->
                <!--<div style="display: flex;flex: 1">-->
                    <!--<input-->
                        <!--class="form-check-input" type="radio" name="exampleRadios"-->
                        <!--id="premium3" value="premium3"-->
                        <!--ng-model="payment.selectedPremium" ng-change="" style="margin-right: 15px">-->
                    <!--<div>-->
                        <!--<label class="form-check-label" for="premium3" style="display: block" ng-class="{'txt-primary': payment.selectedPremium === 'premium3'}">-->
                            <!--<b>{{payment.currency}} 500.00</b>-->
                        <!--</label>-->
                        <!--<small style="display: block">Section 1</small>-->
                    <!--</div>-->
                    <!--<small style="text-decoration: line-through;line-height: 25px;margin-left: 5px">{{payment.currency}} 1212.00</small>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<span class="txt-primary" style="display: block"><b>{{payment.currency}} 500.00</b></span>-->
                    <!--<small style="display: block">Save</small>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="ui-card-body">
            <div class="ui-card-list-item">
                <div style="display: flex;flex: 1">
                    <div>
                        <label class="form-check-label txt-primary" style="display: block">
                            <b>Monthly</b>
                        </label>
                        <!--<small style="display: block">Section 1</small>-->
                    </div>
                </div>
                <div>
                    <span style="display: block"><b>{{payment.currency}} {{payment.monthly}}</b></span>
                    <!--<small style="display: block">Section 1</small>-->
                </div>
            </div>
            <div class="ui-card-list-item">
                <div style="display: flex;flex: 1">
                    <div>
                        <label class="form-check-label txt-primary" style="display: block">
                            <b>Quarterly</b>
                        </label>
                        <!--<small style="display: block">Section 1</small>-->
                    </div>
                    <!--<small style="text-decoration: line-through;line-height: 25px;margin-left: 5px">{{payment.currency}} 1212.00</small>-->
                </div>
                <div>
                    <span class="" style="display: block"><b>{{payment.currency}} {{payment.quarterly}}</b></span>
                    <!--<small style="display: block">Save</small>-->
                </div>
            </div>
            <div class="ui-card-list-item">
                <div style="display: flex;flex: 1">
                    <div>
                        <label class="form-check-label txt-primary" style="display: block">
                            <b>Half Yearly</b>
                        </label>
                        <!--<small style="display: block">Section 1</small>-->
                    </div>
                    <!--<small style="text-decoration: line-through;line-height: 25px;margin-left: 5px">{{payment.currency}} 1212.00</small>-->
                </div>
                <div>
                    <span class="" style="display: block"><b>{{payment.currency}} {{payment.half_yearly}}</b></span>
                    <!--<small style="display: block">Save</small>-->
                </div>
            </div>
            <div class="ui-card-list-item">
                <div style="display: flex;flex: 1">
                    <div>
                        <label class="form-check-label txt-primary" style="display: block">
                            <b>Annually</b>
                        </label>
                        <!--<small style="display: block">Section 1</small>-->
                    </div>
                    <!--<small style="text-decoration: line-through;line-height: 25px;margin-left: 5px">{{payment.currency}} 1212.00</small>-->
                </div>
                <div>
                    <span class="" style="display: block"><b>{{payment.currency}} {{payment.annually}}</b></span>
                    <!--<small style="display: block">Save</small>-->
                </div>
            </div>
        </div>
        <div class="ui-card-footer">
            <!--<span style="flex: 1">Total amount</span>-->
            <!--<b>{{payment.currency}} 400.00</b>-->
        </div>
    </div>
    <!--<div class="clearfix text-center" style="margin: 30px 0;">-->
        <!--<button type="button" class="btn btn-default">Print</button>-->
        <!--<button type="button" class="btn btn-default">Email</button>-->
    <!--</div>-->
    <div style="text-align: center;padding: 10px 0;font-size: 14px;display: flex;align-items: center;justify-content: center">
        Powered by <img src="./img/logo-smoothflow-beta-purple.svg" alt="" style="width: 100px;margin-left: 6px">
    </div>
</div>