<div class="container" ng-init="app.settings.container = false;">
    <div class="text-center" ng-include="'partials/include.header.html'"></div>
    <div class="m-b-lg">
        <div class="wrapper text-center" ng-if="isPaymentSuccess == 0">
            <h4 style="font-weight: bold;">{{title}}</h4>
            <!-- <strong>Your Account is not yet active!</strong> -->
            <!-- <p>OTP has been sent to you on your mobile number. Please enter it below.</p> -->
        </div>

        <form name="paymentForm" ng-if="isPaymentSuccess == 0">
            <div class="form-group">
                <label for="inputAddress">Customer Name</label>
                <input type="text" class="form-control" ng-model="user.name" placeholder="" ng-readonly="true">
            </div>
            <div class="form-group">
                <label for="inputAddress">Invoice No.</label>
                <input type="text" class="form-control" ng-model="payment.invoiceNo" placeholder="" ng-readonly="true">
            </div>
            <div ng-if="botID == '5c66bc5cf9c5660c4a14b85f' || botID == '5d41705b7ef9df644f4eb0d8'">
                <div class="form-group">
                    <label for="inputAddress">Policy Name</label>
                    <input type="text" class="form-control" ng-model="payment.name" placeholder="" ng-readonly="true">
                </div>
                <div class="form-check">
                    <label for="inputAddress">Policy Tenure</label>
                    <table style="width:100%">
                        <tr>
                            <th>
                                <center>
                                    <button type="button" class="btn btn-secondary btn-group btn-group-lg"><input
                                            class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" ng-value="{{tentureOpt1}}" checked
                                            ng-model="payment.totalamount">
                                        <label class="form-check-label" for="exampleRadios1">
                                            1 Year
                                        </label></center></button>

                            </th>
                            <th>
                                <center>
                                    <button type="button" class="btn btn-secondary"><input class="form-check-input"
                                            type="radio" name="exampleRadios" id="exampleRadios1"
                                            ng-value="{{tentureOpt2}}" ng-model="payment.totalamount">
                                        <label class="form-check-label" for="exampleRadios1">
                                            2 Years
                                        </label></button>
                                </center>
                            </th>
                            <th>
                                <center>
                                    <button type="button" class="btn btn-secondary"><input class="form-check-input"
                                            type="radio" name="exampleRadios" id="exampleRadios1"
                                            ng-value="{{tentureOpt3}}" ng-model="payment.totalamount">
                                        <label class="form-check-label" for="exampleRadios1">
                                            3 Years
                                        </label></button>
                                </center>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <center>LKR {{tentureOpt1}}</center>
                            </td>
                            <td>
                                <center>LKR {{tentureOpt2}}</center>
                            </td>
                            <td>
                                <center>LKR {{tentureOpt3}}</center>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Premium</label>
                    <input type="text" class="form-control" ng-model="payment.totalamount" placeholder=""
                        ng-readonly="true">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Auto Renew Policy</label>
                    <input type="checkbox" ng-model="payment.renewal" placeholder="" ng-readonly="true"
                        style="margin:5px;">
                </div>
                <div class="form-group">
                    <label for="inputState">Amount to Pay</label>
                    <p style="font-size: 20px;">
                        <b>{{payment.currency}} {{payment.totalamount}}.00</b>
                        <!-- <b>LKR 23,999.00</b> -->
                    </p>
                </div>
            </div>
            <!-- <div ng-if="botID == '5c517f1a24b77186e0297aa4'">
                <div class="form-group">
                    <label for="inputAddress">Payment Type</label>
                    <div>
                        <center>
                            <input type="radio" name="paymenttype" value="post"> Postpaid
                            <input type="radio" name="paymenttype" value="pre"> Prepaid
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Mobile No</label>
                    <input type="text" class="form-control" ng-model="user.mobile" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Re-enter</label>
                    <input type="text" class="form-control" ng-model="user.mobile2" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Email Addreess</label>
                    <input type="email" class="form-control" ng-model="user.email" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputState">Amount to Pay</label>
                    <input type="number" class="form-control" ng-model="payment.totalamount" placeholder="">
                </div>
            </div> -->
            <div
                ng-if="botID == '5cfa4cd8aa087d1136c7e6c0' || botID == '5cfdf9dcb855a87edbd756ac' || botID == '5cf8f455b3bddfc7f663af82' || botID == '5c94b7fd158f7fa10acf68b8' || botID == '5c8747e6f9c5669f7a151c85' || botID == '5e86efa9002501e86c89282b'|| botID == '5e9d2d87c3a7daf3d96b5226'">
                <div class="form-group">
                    <label for="inputAddress">My Cart</label>
                    <p ng-if="payment.items.length == 0">Your cart is empty!</p>
                    <ul ng-repeat="item in payment.items" class="list-group">
                        <li class="list-group-item row" style="margin: 0;height: 80px">
                            <div class="col-xs-2 cart-item-image cart-item-centered">
                                <img height="50px" src="{{item.image_url}}">
                            </div>
                            <div class="col-xs-4"
                                style="height: 100%;display: flex;align-items: center;justify-content: center">
                                <span>{{item.title}}</span>
                            </div>
                            <div class="col-xs-4"
                                style="height: 100%;display: flex;align-items: center;justify-content: center">
                                <span>{{item.currency}}
                                    {{item.price}} x</span>
                                <input type="number" ng-model="item.qty"
                                    style="width: 45px;padding-left: 3px;margin-left: 5px;" min="1" max="100"
                                    ng-change="updatedQty(item)" />
                            </div>
                            <div ng-click="removeme()" class="col-xs-2 cart-item-rem cart-item-centered">
                                <i class="fa fa-remove"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="inputState">Amount to Pay</label>
                    <p style="font-size: 20px;">
                        <b>{{payment.currency}} {{payment.totalamount}}</b>
                        <!-- <b>LKR 23,999.00</b> -->
                    </p>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="inputAddress">My Cart</label>
                <ul class="list-group">
                    <li class="list-group-item row" style="margin: 0;height: 80px">
                        <div class="col-xs-4">
                            <img height="50px" src="https://5.imimg.com/data5/AG/ER/MY-51415375/jbl-bluetooth-portable-speaker-500x500.jpg">
                        </div>
                        <div class="col-xs-6" style="height: 100%;display: flex;align-items: center;justify-content: center">
                            <span>JBL-PORTABLE SOUND SYSTEM</span>
                        </div>
                        <div class="col-xs-2" style="height: 100%;display: flex;align-items: center;justify-content: center">
                            <span style="display: inline-block;height: 20px;margin-top: 11%;margin-bottom: 11%">x 1</span>
                        </div>
                    </li>
                </ul>
            </div> -->
            <div class="form-group">

            </div>
            <!-- ng-click="pay()"  -->
            <div class="text-center">
                <!-- <button ng-click="pay()" type="button" class="btn btn-primary"
                    style="padding: 10px 20px;/*font-size: large;*/">Test</button> -->

                <button type="submit" class="btn btn-primary" stripe-payment="config"
                    ng-disabled="paymentForm.$invalid || processing"
                    style="padding: 10px 20px;/*font-size: large;*/">{{checkoutbutton}}</button>
            </div>

            <div class="text-center">

                <div style="margin-top:20px;">
                    <img style="padding:3px; height: 40px;" src="img/visa.png" alt="visa">
                    <img style="padding:3px; height: 40px;" src="img/mastercard.png" alt="visa">
                    <img style="padding:3px; height: 40px;" src="img/amex.png" alt="visa">
                    <img style="padding:3px; height: 40px;" src="img/discover.png" alt="visa">
                    <img style="padding:3px; height: 40px;" src="img/jbc.png" alt="visa">
                    <img style="padding:3px; height: 40px;" src="img/dinersclub.png" alt="visa">
                </div>

                <img style="padding:15px;" src="img/powered_by_stripe.svg" alt="stripe">

                <ul style="list-style: none;padding: 0px;">
                    <li><span style="color:green; font-weight: bold">✓</span> <span style="font-size: 12px">HTTPS and
                            HSTS Connections</span></li>
                    <li><span style="color:green; font-weight: bold">✓</span> <span style="font-size: 12px">Encryption
                            of Sensitive</span></li>
                    <li><span style="color:green; font-weight: bold">✓</span> <span style="font-size: 12px">PGP
                            Standards</span></li>
                </ul>
            </div>

        </form>
        <div class="line line-dashed" ng-if="isPaymentSuccess == 1"></div>
        <div class="line line-dashed" ng-if="isPaymentSuccess == 1"></div>
        <div class="line line-dashed" ng-if="isPaymentSuccess == 1"></div>
        <div class="wrapper text-center" ng-if="isPaymentSuccess == 2">
            <img src="img/checked.png">
            <div class="line line-dashed"></div>
            <h4 style="font-weight: bold;">Payment successfull</h4>
            <p>Your payment has been processed. Please close the window to proceed.</p>
        </div>
        <div class="wrapper text-center" ng-if="isPaymentSuccess == 1">
            <img src="img/loading.gif" style="height: 75px;">
            <div class="line line-dashed"></div>
            <h4 style="font-weight: bold;">Processing Payment</h4>
            <p>Please do not close this window.</p>
        </div>
    </div>
</div>

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
            <h3>Continue?</h3>
            <div style="margin:30px 0px;">
                <p>Are you sure you want to remove the item from the cart?</p>
            </div>
            <div style="margin:20px 0px;">
                <center>
                    <button ng-click="removenow()" class="btn btn-primary">Yes</button>
                    <button onclick="document.getElementById('id01').style.display='none'" class="btn">No</button>
                </center>
            </div>
        </div>
    </div>
</div>